<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Phishing Detection</title>
</head>

<body>
	<header>
		<h2>Email Phishing Detection</h2>
	</header>
	<main>
		<section>
			<form method="post">
				<textarea name="email_text"  placeholder="Paste email here..."></textarea><br>
				<button type="submit">Check Email</button>
			</form>
		</section>

		<!--Outputs-->
		<aside>
			{% if result %}
            <h2>{{ confidence }} {{ result }}</h2>
            <p>{{ response }}</p>
        {% endif %}
		</aside>
		
	</main>
	<footer>
		<p>Developed by Connor Butts, <a href = https://github.com/connorbutts75/XAI-PhishingDetection>Github Repository</a>, developed for senior project, last updated 4/22/2025</p>
	</footer>
</body>
</html>
