<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Model Error</title>
</head>

<body>
	<header>
		<h2>Email Phishing Detection</h2>
	</header>
	<main>
		<body>
			<h3>Model failed to load</h3>
			<p>Please check the AI folder to ensure that all files are present, the folder should contain Config.json, merges.txt, model.safetensor, special_tokens_map.json, tokenizer_config.json, and vocab.json.</p>
			<p>The most likely file that is missing is model.safetensor, to get this file go the <a href = https://github.com/connorbutts75/XAI-PhishingDetection>Github</a>, go to releases on the right side of the page, select adding binary, select model.safetensor, add it into the AI folder, and restart the program
			</p>
		</body>
	</main>
	<footer>
		<p>Developed by Connor Butts, <a href = https://github.com/connorbutts75/XAI-PhishingDetection>Github Repository</a>, developed for senior project, last updated 4/22/2025</p>
	</footer>
</body>
</html>
